doctype html
html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="bower_components/bootstrap/dist/css/bootstrap.css")
  body(ng-app="todoApp")
    div(class="container", ng-controller="TodoCtrl")
      h3 Todo List
      ul(ng-repeat="todo in todoItems")
        li {{todo.title}}
    script(src="lodash/dist/lodash.compat.js")
    script(src="jquery/dist/jquery.js")
    script(src="bootstrap/dist/js/bootstrap.js")
    script(src="angular/angular.js")
    script(src="angular-route/angular-route.js")
    script(src="angular-resource/angular-resource.js")
    script(src="example.js")
